<section id="contact_form">
<div class="container text-center">
	<h2>Do you have any questions?</h2>
	 <h2 class="second_heading">Feel free to contact us!</h2>
</div>
<div class="container py-2">
	<div class="row">
		{{!-- <div class="col-xs-12 col-md-6"> --}}
			{{!-- {{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Name</label>
					<input type="text" name="name.full" id="name" class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" id="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" id="msg" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn submit_btn">Send</button>
				</div>
			</form>
			{{/if}} --}}
		<div class="iframe-container">
			<iframe  scrolling="no" src="https://docs.google.com/forms/d/e/1FAIpQLSeCzpPg3z6N5nUQvrhHXaTTNNlQ22HGaY74AHcSnehseRPwmA/viewform?embedded=true">Loading...</iframe>
		</div>
			<style>
					.iframe-container iframe {
						border: 0;
						height: 160vh;
						left: 0;
						top: 0;
						width: 100%;
						display:block;
					}
			</style>
		{{!-- </div> --}}
	</div>
</div>
</section><!-- Contact form end -->
<!-- Contact form -->

  {{!-- <div class="container">
    <div class="row">
      <div class="col-md-6">
      </div>
      <form  action="/contact" method="post" role="form" class="form-inline text-right col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="msg" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn submit_btn">Submit</button>
      </form>
    </div>
  </div> --}}
